<div class="parentClass">
  <div class="m-5">
    <h1>Executive Dashboard</h1>
    <input type="date" #dateInput (change)="datePick(dateInput.value)" >
    
  </div>
 

<div class="row m-4">
  <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
    <div class="card card-bd">
      <div class="bg-secondary card-border" style="background:#3444d5 !important;"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <!-- <link type="image/png" sizes="32x32" rel="icon" href=".../icons8-up-32.png"> -->
            <span class="" style="font-size: 25px;">New Wins</span>
            <div class="text-center">
              <h1 class="count num-text text-black font-w700 " style="font-size: 100px; font-weight: bold; margin-top: 10%;" >230</h1>
              <div>
                <img src="../../../assets/icons8-up-ios-17-filled-32.png" style="margin-bottom: 2%;" alt="">

                <span style="color: #40c057; font-size: 23px; margin-top:4px;">25%</span>
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
    <div class="card card-bd">
      <div class="bg-warning card-border"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <span class="fs-14" style="font-size: 25px;">Trial : Win Rate</span>

            <div class="text-center">
              <h1 class="count num-text text-black font-w700 " style="font-size: 100px; font-weight: bold; margin-top: 10%;" >9.86%</h1>
              <div>
                <img src="../../../assets/icons8-up-ios-17-filled-32.png" style="margin-bottom: 2%;" alt="">

                <span style="color: #40c057; font-size: 23px; margin-top:4px;">25%</span>
              </div>
            </div>  
          
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
    <div class="card card-bd">
      <div class="bg-primary card-border"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <span class="fs-14" style="font-size: 25px;">New MRR</span>

            <div class="text-center">
              <h1 class="count num-text text-black font-w700 " style="font-size: 80px; font-weight: bold; margin-top: 10%;" >$25690</h1>
              <div>
                <img src="../../../assets/icons8-up-ios-17-filled-32.png" style="margin-bottom: 2%;" alt="">

                <span style="color: #40c057; font-size: 23px; margin-top:4px;">8.7%</span>
              </div>
            </div>          
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-xxl-3 col-lg-6 col-sm-6">
    <div class="card card-bd">
      <div class="bg-info card-border"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <span class="fs-14" style="font-size: 25px;">Page Views</span>

            <app-pie-chart></app-pie-chart>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-4">
  <div class="col-xl-6 col-xxl-6 col-lg-12 col-sm-12">
    <div class="card card-bd">
      <div class="bg-info card-border"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <span class="fs-14" style="font-size: 25px;">MRR Stats by Country</span>

            <app-bubble-chart></app-bubble-chart>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-xxl-6 col-lg-12 col-sm-12">
    <div class="card card-bd">
      <div class="bg-info card-border"></div>
      <div class="card-body box-style">
        <div class="media align-items-center">
          <div class="media-body me-3">
            <span class="fs-14" style="font-size: 25px;">MRR</span>

            <app-bar-chart></app-bar-chart>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>